.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    z-index: 1000;
    width: 480px;
    height: 720px;
}

.during-popup {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.modal {
    position: fixed;
    left: 25%;
    top: 30%;
    width: 50%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #011627;
}

.popup-x {
    width: 3em;
    height: 2em;
    border: none;
    border-top-right-radius: 1em;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    align-self: flex-end;
    justify-self: flex-start;
}

.modal__info-section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-height: 300px;
    overflow: auto;
}
.modal__info-section::-webkit-scrollbar {
    width: 0px;
}

.modal__txts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modal__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    color: #121212;
}
.modal__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #464646;
}

.modal__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #464646;
}
.modal__modifier-section {
    margin: 16px 0px 32px 8px;
}
.modal__modifier-txts {
    display: flex;
    flex-direction: column;
}
.modal__modifier-title {
    font-size: 16px;
    font-weight: 700;
    color: #464646;
    line-height: 18.75px;
}

.modal__modifier-description {
    font-size: 16px;
    font-weight: 400;
    color: #5f5f5f;
    line-height: 18.75px;
}
.modal__icon-container {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    margin-right: 18px;
    margin-top: 16px;
    cursor: pointer;
}
.modal__icon-close {
    width: 12px;
}

.modal__product-img {
    max-width: 100%;
}

.modal__modifier-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.modal__modifier-info {
    display: flex;
    justify-content: space-between;
}

.modal__modifier-txt-info-product {
    display: flex;
    flex-direction: column;
}

.modal__actions-btns {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 10px;
}
.modal__actions-add-btn {
    cursor: pointer;
    width: 432px;
    border: 0;
    background-color: #4f372f;
    font-size: 18px;
    line-height: 21.09px;
    padding: 13.15px 0px 13.15px 0px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.modal__actions-add-btn-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: row;
}
.modal__actions-quantity {
    display: flex;
    align-items: center;
    gap: 36px;
}

.modal__modifier-txt-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: #121212;
}
.modal__modifier-txt-price {
    font-size: 16px;
    color: #464646;
    line-height: 18.75px;
    font-weight: 400;
}

.modal__actions-quantity-decrease {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__actions-quantity-decrease-icon {
    width: 18px;
    height: 3px;
    background-color: #5f5f5f;
    border-radius: 4px;
}

.modal__actions-quantity-value {
    font-size: 24px;
    line-height: 28.64px;
    color: #121212;
    font-weight: 600;
}
.modal__actions-quantity-increase {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #4f372f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__actions-quantity-increase-icon {
    width: 18px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    left: 1px;
}
.modal__actions-quantity-increase-icon-2 {
    height: 18px;
    width: 3px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    right: 9px;
    left: -9.75px;
}

input[type="radio"] {
    width: 20px;
    accent-color: #5f5f5f;
}

@media (max-width: 600px) {
    .modal__info-section {
        height: 100%;
        max-height: 100%;
    }
    .popup-container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .modal__actions-add-btn {
        max-width: 345px;
    }
    .modal__actions-btns {
        background-color: #eeeeee;
    }
}
