.menu_list__section-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px 12px 16px;
    cursor: pointer;
}

.menu_list__section-txt {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    letter-spacing: 0.5px;
    color: #121212;
}

.menu_list__itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15.5px 16px 12px 16px;
}

.menu_list__itens-txts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 60%;
    cursor: pointer;
}

.menu_list__item-product-name {
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 500;
    color: #121212;
}

.menu_list__item-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    color: #464646;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu_list__item-price {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: #464646;
}

.menu_list__itens-img {
    width: 128px;
    height: 85px;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .menu_list__section-label {
        padding: 0px;
        margin: 25px 0px 16px 0px;
    }
    .menu_list__itens {
        padding: 0px;
        margin-bottom: 20px;
    }
}
