.menu {
    width: 100%;
    max-width: 1024px;
}

.menu_list-item {
    background-color: #ffffff;
}

.menu__container {
    display: flex;
    width: 100%;
    height: 1337px;
    background-color: #f8f9fa;
    margin-top: 6px;
    padding: 32px 40px;
    gap: 24px;
}

.menu_list__section-icon {
    transition: transform 0.2s ease-in-out;
}
.rotate-normal {
    transform: rotate(0deg);
}

.rotate-reverse {
    transform: rotate(180deg);
}

.menu__itens_description {
    display: flex;
    flex-direction: column;
}
.menu__sub_container {
    background-color: #ffffff;
    height: 20px;
    width: 600px;
    box-shadow: 2px 0px 14px 0px #00000024;
}
.menu__sections {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 2px 0px 14px 0px #00000024;
    max-width: 600px;
    width: 100%;
    padding: 20px 0px 0px 16px;
}

.menu__basket-responsive__actions-btns {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 10px;
}

.menu__basket-responsive__actions-add-btn {
    cursor: pointer;
    width: 345px;
    border: 0;
    background-color: #4f372f;
    font-size: 18px;
    line-height: 21.09px;
    padding: 13.15px 0px 13.15px 0px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.menu__basket-responsive__actions-add-btn-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: row;
}
.menu__allergy {
    display: none;
}

@media (max-width: 700px) {
    .menu__basket-responsive__actions-btns {
        display: flex;
    }
    .menu__allergy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #4f372f;
        font-weight: 700;
        text-decoration: underline;
    }
    .menu {
        background-color: #ffffff;
    }
    .menu__itens {
        background-color: #ffffff;
    }
    .menu__container {
        flex-direction: column;
        padding: 0px;
        margin-top: 0px;
    }
    .menu__sections {
        max-width: 100%;
        padding: 32px 16px 12px 16px;
    }
}
